/* font-family: 'Volkhov', serif;
font-family: 'Lato', sans-serif; */


.location {
    display: block;
    color: green;
    /* padding-right: 20px; */
    
}

/* li {
    display: inLine;

} */

li:nth-child(2):after {
    content: "\A";
    white-space: pre;
}


.resultTitle {
    font-size: 25px;
}

/* .resultsHeader {
    background-image: url('./amusement.jpg');
} */

.resultsJumbo {
    margin-bottom: 0px;
    background-image: url('./boardwalk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 400px;
}

/* below is for the buttons on Saved and Results page */
.badgeColor {
    background: rgb(124, 178, 194);
    color: white;
}

.badgeColor:hover {
        background: rgb(78, 146, 167);
    
    }

.badgeColor:active {
    background: rgb(124, 178, 194);
}


/* below is the buttons for the results page only */
.badgeResults {
    margin-top: 20px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    
}

